@charset "UTF-8";
:root {
  --dark-background: #2F303A;
  --main-text-theme-accent: #212121;
  --main-text-theme-paragraph: #757575;
  --white-theme: #FFFFFF;
  --white-theme-liquid: rgba(255, 255, 255, 0.6);
  --hiperlink-and-active-theme: #2196F3;
  --filter-button-color: #F5F4FA;
  --icon-main-color: #AFB1B8;
}

:root {
  --animations-link-border: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animations-link-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animations-link-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animations-link-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animations-link-outline: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animations-link-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animations-slow: 2500ms 250 ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-theme-accent);
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity var(--animations-slow), visibility var(--animations-slow);
  -o-transition: opacity var(--animations-slow), visibility var(--animations-slow);
  transition: opacity var(--animations-slow), visibility var(--animations-slow);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: opacity 450ms ease-in-out 300ms, -webkit-transform 450ms ease-in-out 300ms;
  transition: opacity 450ms ease-in-out 300ms, -webkit-transform 450ms ease-in-out 300ms;
  -o-transition: transform 450ms ease-in-out 300ms, opacity 450ms ease-in-out 300ms;
  transition: transform 450ms ease-in-out 300ms, opacity 450ms ease-in-out 300ms;
  transition: transform 450ms ease-in-out 300ms, opacity 450ms ease-in-out 300ms, -webkit-transform 450ms ease-in-out 300ms;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
      -ms-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.backdrop .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-theme-accent);
  margin-bottom: 12px;
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-form__label:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.modal-form__subtitle {
  display: inline-block;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: var(--main-text-theme-paragraph);
  margin-bottom: 4px;
}

.modal-form__main-data {
  width: 100%;
  height: 40px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: var(--animations-link-color), var(--animations-link-outline);
  -o-transition: var(--animations-link-color), var(--animations-link-outline);
  transition: var(--animations-link-color), var(--animations-link-outline);
}

.modal-form__main-data:focus-visible {
  outline: 1px solid var(--hiperlink-and-active-theme);
}

.modal-form__main-data:focus-visible + .modal-form__input-icon {
  fill: #2196F3;
}

.modal-form__input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: currentColor;
  -webkit-transition: var(--animations-link-fill);
  -o-transition: var(--animations-link-fill);
  transition: var(--animations-link-fill);
}

.modal-form__warning-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.modal-form__coment-input {
  width: 100%;
  height: 120px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: var(--animations-link-outline);
  -o-transition: var(--animations-link-outline);
  transition: var(--animations-link-outline);
}

.modal-form__coment-input:focus-visible {
  outline: 1px solid var(--hiperlink-and-active-theme);
}

.modal-form__coment-input:focus-visible {
  outline: 1px solid var(--hiperlink-and-active-theme);
}

.modal-form__coment-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__coment-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__coment-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__coment-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-input {
  opacity: 0;
}

.checkbox-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__icon-done {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  fill: var(--white-theme);
  background-color: var(--white-theme);
  outline: 1px inset var(--main-text-theme-accent);
  outline-offset: -1px;
  margin-right: 8px;
  -webkit-transition: var(--animations-link-bg), var(--animations-link-outline), var(--animations-link-shadow);
  -o-transition: var(--animations-link-bg), var(--animations-link-outline), var(--animations-link-shadow);
  transition: var(--animations-link-bg), var(--animations-link-outline), var(--animations-link-shadow);
}

.modal-form__checkbox-input:hover + .modal-form__icon-done,
.modal-form__checkbox-input:focus + .modal-form__icon-done {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-form__checkbox-input:checked + .modal-form__icon-done {
  background-color: var(--hiperlink-and-active-theme);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-form__subscribe-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-theme-paragraph);
}

.modal-form__subscribe-text--hiperlink {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hiperlink-and-active-theme);
}

.modal-form__submit-btn {
  width: 200px;
  height: 50px;
  background-color: var(--hiperlink-and-active-theme);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0.06em;
  color: var(--white-theme);
  -webkit-transition: var(--animations-link-bg);
  -o-transition: var(--animations-link-bg);
  transition: var(--animations-link-bg);
}

.modal-form__submit-btn:hover, .modal-form__submit-btn:focus {
  background-color: #188CE8;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons__btn {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-theme-accent);
  border: none;
  background-color: var(--filter-button-color);
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: var(--animations-link-color), var(--animations-link-bg), var(--animations-link-shadow);
  -o-transition: var(--animations-link-color), var(--animations-link-bg), var(--animations-link-shadow);
  transition: var(--animations-link-color), var(--animations-link-bg), var(--animations-link-shadow);
}

.filter-buttons__btn:hover, .filter-buttons__btn:focus, .filter-buttons__btn--active {
  color: var(--white-theme);
  background-color: var(--hiperlink-and-active-theme);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-buttons__item {
  margin-right: 8px;
}

.filter-buttons__item:last-child {
  margin-right: 0;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hiperlink-and-active-theme);
}

.logo__header-logo {
  color: #000;
}

.header__logo {
  padding: 24px 0;
  margin-right: 93px;
}

.header {
  color: var(--main-text-theme-accent);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-theme-paragraph);
  -webkit-transition: var(--animations-link-color);
  -o-transition: var(--animations-link-color);
  transition: var(--animations-link-color);
}

.header__link--active, .header__link:hover, .header__link:focus, .header__link:hover, .header__link:focus {
  color: var(--hiperlink-and-active-theme);
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  -webkit-transition: var(--animations-link-color);
  -o-transition: var(--animations-link-color);
  transition: var(--animations-link-color);
  margin-right: 50px;
  padding: 32px 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item--active {
  position: relative;
}

.nav__item--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  color: var(--hiperlink-and-active-theme);
  background-color: var(--hiperlink-and-active-theme);
}

.nav__link {
  color: var(--main-text-theme-accent);
}

.header-contacts {
  margin-left: auto;
}

.header-contacts__item {
  margin-right: 50px;
  padding: 32px 0;
}

.header-contacts__item:last-child {
  margin-right: 0;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--dark-background);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/herobackgraund.png);
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/herobackgraund.png);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/herobackgraund.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/herobackgraund.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600рх;
  padding: 200px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-theme);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-theme);
  background-color: var(--hiperlink-and-active-theme);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-transition: var(--animations-link-bg);
  -o-transition: var(--animations-link-bg);
  transition: var(--animations-link-bg);
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.about-company__section {
  padding-bottom: 0;
}

.about-company__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--filter-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-company__item {
  width: 270px;
  margin-right: 30px;
}

.about-company__item:last-child {
  margin-right: 0;
}

.about-company__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-company__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-theme-paragraph);
}

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__item {
  margin-right: 30px;
  position: relative;
}

.project__item:last-child {
  margin-right: 0;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-theme);
}

.team {
  background-color: var(--filter-button-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__foto {
  display: block;
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

.team__card:last-child {
  margin-right: 0;
}

.team__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white-theme);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-theme-paragraph);
  margin-bottom: 16px;
}

.social__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-main-color);
  -webkit-transition: var(--animations-link-color), var(--animations-link-bg);
  -o-transition: var(--animations-link-color), var(--animations-link-bg);
  transition: var(--animations-link-color), var(--animations-link-bg);
}

.social__icon-link:hover, .social__icon-link:focus {
  color: var(--white-theme);
  background-color: var(--hiperlink-and-active-theme);
}

.social__icon {
  fill: currentColor;
}

.social__items:not(:last-child) {
  margin-right: 10px;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  color: var(--icon-main-color);
  -webkit-transition: var(--animations-link-border), var(--animations-link-color);
  -o-transition: var(--animations-link-border), var(--animations-link-color);
  transition: var(--animations-link-border), var(--animations-link-color);
}

.client__link:hover, .client__link:focus {
  color: var(--hiperlink-and-active-theme);
  border-color: var(--hiperlink-and-active-theme);
}

.client__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__box:not(:last-child) {
  margin-right: 70px;
}

.footer__box:last-child {
  margin-left: auto;
}

.logo__footer-logo {
  color: var(--white-theme);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-contacts__info {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-theme-liquid);
  -webkit-transition: var(--animations-link-color);
  -o-transition: var(--animations-link-color);
  transition: var(--animations-link-color);
  margin-bottom: 9px;
}

.footer-contacts__info:last-child {
  margin-bottom: 0;
}

.footer-contacts__info:hover, .footer-contacts__info:focus {
  color: var(--hiperlink-and-active-theme);
}

.footer-contacts__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  font-style: normal;
  color: var(--white-theme);
}

.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-theme);
  margin-bottom: 20px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__icon {
  fill: var(--white-theme);
}

.footer-social__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454E;
  -webkit-transition: var(--animations-link-bg);
  -o-transition: var(--animations-link-bg);
  transition: var(--animations-link-bg);
}

.footer-social__icon-link:hover, .footer-social__icon-link:focus {
  color: var(--white-theme);
  background-color: var(--hiperlink-and-active-theme);
}

.footer-social__items:not(:last-child) {
  margin-right: 10px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  margin-left: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--white-theme);
}

.subscribe-form__input:focus-visible {
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(255, 255, 255, 0.623);
}

.subscribe-form__btn {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--hiperlink-and-active-theme);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-theme);
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.portfolio-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-project__item {
  margin-top: 30px;
  margin-right: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition: var(--animations-link-shadow);
  -o-transition: var(--animations-link-shadow);
  transition: var(--animations-link-shadow);
}

.portfolio-project__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-project__item:nth-child(-n + 3) {
  margin-top: 0;
}

.portfolio-project__item:hover, .portfolio-project__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project__card {
  text-decoration: none;
  color: currentColor;
}

.portfolio-project__overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-project__overlay {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-theme);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms 200ms ease-in-out;
  transition: -webkit-transform 500ms 200ms ease-in-out;
  -o-transition: transform 500ms 200ms ease-in-out;
  transition: transform 500ms 200ms ease-in-out;
  transition: transform 500ms 200ms ease-in-out, -webkit-transform 500ms 200ms ease-in-out;
}

.portfolio-project__card:hover .portfolio-project__overlay,
.portfolio-project__card:focus .portfolio-project__overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-project__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-theme-paragraph);
}

.portfolio-project__foto {
  display: block;
}

.portfolio-project__info {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}
/*# sourceMappingURL=main.css.map */