.hero {
   margin: 0 auto;
   padding: 118px 0;
   width: 100vw;
   // @include mq (mobile) {
   //    max-width: 480px;
   // }

   // @include mq (tablet) {
   // max-width: 768px;
   // }

   @include mq (desktop) {
      padding: 200px 0;
      max-width: 1600px;
   }

}

.hero__container {
   display: flex;
   flex-direction: column;
   justify-content: center;

}


.hero__title {
   text-align: center;
   font-weight: 900;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-theme);
   margin: 0 auto;
   margin-bottom: 30px;


   @include mq (mobile) {
      width: 360px;


      font-size: 26px;
      line-height: 1.62;
   }


   @include mq (desktop) {
      width: 696px;

      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
   }
}

.hero__btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: var(--white-theme);
   background-color: var(--hiperlink-and-active-theme);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 4px;

   transition: var(--animations-link-bg);

   padding: 10px 32px;
   margin-left: auto;
   margin-right: auto;

   &:hover,
   &:focus {
      background-color: #188CE8;
   }
}

