.list {
   list-style: none;
}

.btn {
   cursor: pointer;
   border: none;
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   width: 100vw;
   position: relative;

   @include mq (min-mobile) {
      width: 100vw;
   }

   @include mq (mobile) {
      width: 480px;
   }

   @include mq (tablet) {
      width: 768px;
   }

   @include mq (desktop) {
      width: 1200px;
   }


}

.section {
   padding-top: 60px;
   padding-bottom: 60px;


   @include mq (desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
   }
}

// * {
//    @media screen and (max-width: 480px) {
//    width: 100vw;      
//    }
// }