:root {
   --dark-background: #2F303A;
   --main-text-theme-accent: #212121;
   --main-text-theme-paragraph: #757575;
   --white-theme: #FFFFFF;
   --white-theme-liquid: rgba(255, 255, 255, 0.6);
   --hiperlink-and-active-theme: #2196F3;
   --filter-button-color: #F5F4FA;
   --icon-main-color: #AFB1B8;
}


